.header {
  max-width: 880px;
  width: 100%;
  justify-self: start;
  height: 74px;
  border-bottom: solid 1px #545454;
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 320px;
    height: 56px;
  }
}
