.popup-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
